h1,
h2,
h3,
h4,
h5,
nav ul li a {
  font-family: "Fjalla One", sans-serif;
  text-decoration: none;
}
header nav ul li a{
   font-size: x-large;
  color: rgb(255, 123, 0);
}
p {
  font-family: "Average", sans-serif;
}

li {
  display: inline;
}
header {
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0px;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  z-index: 2;
 
}
header a{
    
}
.logo {
  /* position: absolute; */
  height: fit-content;
  width: 30%;
  margin: 10px;
  align-content: flex-start;
}

#banner {
  display: grid;
  position: relative;
  background-image: url(winner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* background-position-y: top; */
  color: #ff3254;
  height: 50vh;
  /* background-color: antiquewhite; */
}

.quote {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  align-self: center;
  justify-self: center;
  width: fit-content;
  transition: 0.3s;
  

}
.quote:hover{
  -webkit-text-stroke: medium;
  transform: scale(1.2);

}
body {
  background-color: #ffffff;
  margin: 0%;
  background-image: url(artworks/the-morning-light-draws-a-shadow-of-the-past.jpg);
}
#main-col {
  position: relative;
  display: flex;
  /* margin-top: 10px; */
}
.col3 {
  background-color: whitesmoke;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 33%;
  font-size: x-large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.col3:link{
  background-color: red;
}
.col3:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.col3 p {
  font-size: 20px;
}

.logo > img {
  height: 100%;
  width: 130px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  font-size: large;
  margin-right: 30px;
  transition: 300ms;
}
nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
}

nav a {
  text-decoration: none;
  margin: 15px;
}

@media only screen and (max-width: 650px) {
  header {
    flex-direction: column;
    height: fit-content;
  }
  .logo {
    width: 100%;
    text-align: center;
    height: fit-content;
    margin: 0px;
    margin-top: 10px;
  }
  nav {
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-right: 40px;
  }
  nav ul li a {
    margin: 10px;
  }
  .quote {
    /* width: 100%; */
    margin: 0px;
    font-size: 15px;
    top: 10%;
    left: 29%;
    right: 25%;
    /* margin-top: -22px; */
    /* margin-left: 45px; */
  }
  #banner {
    /* background-position-x: -182px; */
    /* height: 342px; */
    /* background-position-y: 126px; */
    /* background-size: 141%; */
    padding-top: 59px;
    height: 30vh;
    /* background-repeat: no-repeat; */
  }
  #main-col {
    flex-direction: column;
  }
  .col3 {
    align-self: center;
    width: 90%;
    padding: 10px;
    margin: 10px;
  }
}
#banner {
  margin-top: 75px;
}
footer {
  bottom: 0px;
  position: relative;
  width: 100%;
  z-index: -99999999;
  /* overflow: inherit; */
}

#main-col .col3 > h2 {
  text-align: center;
  color: red;
}

#main-col .col3 > p {
  text-align: center;
}
nav .active {
    color: #2196F3 !important;
}
